{% extends 'LouvreTrpBundle::layout.html.twig' %}

{% block content %}

	<h1>Etape 1</h1>
			
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(form) }}

		<fieldset>
			<legend>Choisissez une date</legend>

			<div id="datepicker">
				<label>Date de la visite</label>
				{{ form_errors(form.tdate) }}
				{{ form_widget(form.tdate, {'attr': {'class': 'datepicker'}}) }}
			</div>
			<br/>
			<div class="form-group">
				<label>Visite à la </label>
					{{ form_widget(form.ttype) }}
			</div>
			<div class="form-group">
				<label class="required">Nombre de billets</label>
				{{ form_widget(form.tnbrs, {'attr': {'required': 'required'}}) }}
			</div>

		</fieldset>
		{{ form_widget(form._token) }}
		{{ form_rest(form) }}

		
	{{ form_end(form) }}

{% endblock %}