{% extends "LouvreTrpBundle::layout.html.twig" %}


{% block content %}
        
        <h1>Etape 2</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <fieldset>
            <legend>Vos billets</legend>

            {% set i = 0 %}
            {% for visitor in form.Visitor %}
                {% set i = i + 1 %}
                <label>Billet{{ i }} </label>
                <br/>
                <label>Nom</label>{{ form_widget(visitor.name) }}
                <br/>
                <label>Prénom</label> {{ form_widget(visitor.fName) }}
                <br/>
                <label>Pays</label> {{ form_widget(visitor.pays) }}
                <br/>
                <label>Date de naissance</label> {{ form_widget(visitor.bDate) }}
                <label>Tarif réduit</label> {{ form_widget(visitor.Tarifreduit) }}
                <hr />
                {{ form_widget(form._token) }}
            {% endfor %}

       </fieldset>

        
        {{ form_end(form) }}

{% endblock %}



